<button id="tableDistinct" type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-compressed icon"></i><span data-i18n="dataprocess.action.remove_same"></span> <span class="caret"></span>
</button>
<ul class="dropdown-menu">
    <% _.each(data, function(item) { %>
        <li class="dropdown-menu-child tableDistinct" data-name="<%- item.NAME %>" id="tableDistinctBy<%- item.NAME %>">
            <a href="javascript:void(0)"><%- item.TITLE %></a>
        </li>
    <% }) %>
</ul>