<div class="row">
    <div class="col-md-3">
        <label style="margin-top: 2px; text-align: center;font-weight: bold" data-i18n="dataprocess.name.file_position"></label></div>
    <div class="col-md-9  btn-list" role="group" aria-label="...">
        <button style="display:none;" type="button" class="btn btn-xs btn-default" data-type="INSIDE" data-num="<%- type.DefaultInsidePixels %>" data-i18n="dataprocess.name.table_in">
        </button>
        <span style="width:15px">&nbsp;</span>
        <button type="button" class="imgbtn btn btn-xs btn-default" data-type="BOTTOM" data-num="<%- type.DefaultBottomPixels %>"><img data-i18n="[title]dataprocess.name.table_bottom" width="48" height="48" src="./img/dataprocess/001.png">
        </button>
        <span style="width:15px">&nbsp;</span>
        <button type="button" class="imgbtn btn btn-xs btn-default" data-type="RIGHT" data-num="<%- type.DefaultRightPixels %>"><img data-i18n="[title]dataprocess.name.table_right"  width="48" height="48" src="./img/dataprocess/002.png">
        </button>
    </div>
</div>
