/**
 * Created by songqiankun on 2016/12/10.
 */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

body {
    margin: 0px;
    background: url("../img/background.png") no-repeat;
    background-size: 100% 100%;
}

.title {
    position: absolute;
    top: 24px;
    left: 0px;
    width: 100%;
    height: 73px;
    background: url("../img/title.png") no-repeat 0px 0px/100% 73px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-family: "Microsoft YaHei";
    color: rgb(180, 255, 255) !important;
    font-weight: bold;
    margin: 0px;
    line-height: 73px;
}

#thumbprint {
    position: absolute;
    top: 20px;
    left: 10px;
    cursor: pointer;
    opacity: 0;
    transform: rotate(90deg);
}

#options {
    position: absolute;
    top: 0;
    left: -220px;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    width: 300px;
    background-image: url("../img/docorator.png");
    background-color: rgba(0, 0, 40,0.8);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    border-right: 1px solid #17308a;
    box-shadow: 0px 0px 2px rgba(30, 55, 170, 0.75);
    visibility: hidden;
    opacity: 0;
}

#options-content {
    opacity: 0;
    padding-left: 10px;
}

.header {
    /*border-top: 1px solid #17308a;*/
    /*border-bottom: 1px solid #17308a;*/
    padding: 2px 0;
    visibility: hidden;
    left: 10px;
    width: 280px;
    font-size: 6pt;
}

.header-left-section {
    float: left;
    width: 60%;
    background-color: rgba(8, 8, 24, 0.5);
    margin-left: -5px;
    padding: 0 8px;
}

.header-right-section {
    float: right;
    width: 30%;
    background-color: rgba(8, 8, 24, 0.5);
    text-align: right;
    margin-right: -5px;
    padding: 0 8px;
}

#header-bottom {
    position: absolute;
    bottom: 50px;
    border-bottom: 1px solid #17308a;
}

#header-top {
    position: absolute;
    top: 70px;
    border-top: 1px solid #17308a;
}

.header-animator {
    position: absolute;
    top: 300px;
    left: 25px;
    width: 250px;
    height: 2px;
    border-top: 1px solid #17308a;
    border-bottom: 1px solid #17308a;
    visibility: hidden;
}

.relation-margin {
    position: absolute;
    left: 76.5px;
    top: 124px;
    bottom: 30px;
    width: 68%;
    border-radius: 10px;
    border: 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 55, 170, 0.4)), to(rgba(30, 55, 170, 0.0)));
}

.search-div {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 9990;
    background: url("../img/search.png") no-repeat 0px 0px/20px 20px;
}

.list-margin {
    position: absolute;
    left: calc(86.5px + 68%);
    top: 124px;
    right: 20px;
    height: 54%;
    border-radius: 10px;
    border: 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 55, 170, 0.4)), to(rgba(30, 55, 170, 0.0)));
}

.map-margin {
    position: absolute;
    left: calc(86.5px + 68%);
    top: calc(134px + 54%);
    right: 20px;
    bottom: 30px;
    border-radius: 10px;
    border: 1px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(30, 55, 170, 0.4)), to(rgba(30, 55, 170, 0.0)));
}

.relation-margin, .list-margin, .map-margin {
    border: 1px solid #1e37aa;
    transition: border linear .2s, box-shadow linear .5s;
    box-shadow: 0 0 8px #1e37aa;
}

.subtitle {
    position: absolute;
    text-align: center;
    top: 0px;
    left: calc(50% - 222.5px);
    width: 445px;
    height: 53px;
    background: url("../img/subtitle.png") no-repeat 0px -6px/445px 53px;
    z-index: 100;
}
.right-subtitle {
    left: 10%;
    width: 80%;
    height: 53px;
    background: url("../img/subtitle.png") no-repeat 0px -6px/100% 53px;
}

.subtitle-text {
    margin-top: 8px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: rgba(202, 213, 255, 0.8);
}

#relation {
    width: 100%;
    height: 100%;
}

.tooltip {
    z-index: 20;
    position: absolute;
    width: 140px;
    height: auto;
    text-align: left;
    font-size: 12px;
    line-height: 130%;
    color: rgb(71, 148, 247);
    background-color: rgba(0, 0, 40, 0.9);
    border: 0px solid #888;
    border-radius: 5px;
}

.linetext {
    font-size: 12px;
    font-family: SimSun;
    fill: #ffbb0b;
    fill-opacity: 0.0;
}

.nodetext {
    font-size: 12px;
    font-family: SimSun;
    font-weight: bold;
    fill: #3526bd;
}

button {
    color: rgba(50, 173, 254, 0.75);
    background: transparent;
    outline: 1px solid rgba(0, 173, 254, 0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Microsoft Yahei";
}

button:hover {
    background-color: rgba(0, 173, 254, 0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0, 173, 254, 0.75);
}

.list-div {
    position: absolute;
    top: 45px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}

.list-div::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.0);
}

.list-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(50, 110, 255);
}

#list {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

#list li {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    margin: 5px 0px 5px 0px;
}

#list li:hover {
    background: rgba(50, 110, 255, 0.3);
    cursor: pointer;
}

.selected {
    background: rgba(50, 110, 255, 0.3);
}

.list-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.list-img {
    position: absolute;
    left: 22px;
    top: 10px;
    width: 73px;
    height: 79px;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 8px 31.54px 6.46px rgba(0, 1, 30, 0.35);
}

.list-arrow {
    position: absolute;
    right: 25px;
    top: 47px;
    width: 29px;
    height: 26px;
}

.list-name {
    font-size: 18.5px;
    font-family: "Microsoft YaHei";
    color: rgb(104, 199, 255);
    font-weight: bold;
    line-height: 18.5px;
    text-align: left;
    margin: 15px 0px 15px 110px;
}

.list-country, .list-number {
    font-size: 16px;
    font-family: "Microsoft YaHei";
    color: rgba(104, 199, 255, 0.702);
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    margin: 0px 0px 10px 110px;
}

.list-id {
    display: none;
}

.search-menu{
    visibility: hidden;
    background-clip:    padding-box;
    background-color:    rgba(0, 0, 40, 0.6) !important;
    border-radius: 0 !important;
    border:1px solid rgb(104, 199, 255) !important;
    bottom:    45px !important;
    -o-animation: x !important;
    animation: x !important;;
    box-shadow:    rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
    cursor:    pointer;
    display:    block;
    float:    right !important;
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:    14px;
    height:    250px;
    left:    inherit !important;
    line-height:    20px;
    list-style-image:    none;
    list-style-position:    outside;
    list-style-type:    none;
    margin-bottom:    1px;
    margin-left:    0px;
    margin-right:    0px;
    margin-top:    2px;
    min-width:    60px;
    padding-bottom:    5px;
    padding-left:    5px;
    padding-right:    5px;
    padding-top:    5px;
    position:    absolute !important;
    right:    0px !important;
    text-align:    center;
    text-size-adjust:    100%;
    top:    -206px;
    user-select:    none;
    width:    40px !important;
    min-width: 140px !important;
    z-index:    1000;
    opacity: 0.8 !important;
}
#relation-select {
    position: absolute;
    right: 0px;
    bottom: 310px;
    width: 300px;
    height: 200px;
    padding-top: 15px;
    background-color: rgba(0, 0, 40, 0.6);
    border: 1px solid rgb(104, 199, 255);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display:none;
}
#relation-select label {
    display: block;
    position: relative;
}
#relation-select span {
    color: #4a9aff;
    font-size: 14px;
    margin: 0px;
    padding: 6px 20px 6px 15px;
    line-height: 18px;
}
#relation-select input {
    width: 180px;
    color:#4a9aff;
    background: transparent;
}
#relation-select-button {
    position: absolute;
    bottom: 20px;
    left: 126px;
}

.add {
    font-size: 20px;
    color:#4a9aff;
    width: 20px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #4a9aff;
}
