<tr>
    <td class="text-primary mn fs14 fw400 text-center">
        <%- itemName %>
    </td>
    <td></td>
</tr>
<% _.each(properties, function(property) { %>
    <tr>
        <td class="col-md-2 col-sm-2 mn fs14 fw400 text-center" style="background-color: #f5f5f5">
            <%- property.name %>
        </td>
        <td class="col-md-10 col-sm-10">
            <% _.each(property.valueList, function(item,index) { %>
                <% if(index >= property.showItemsCount){%>
                    <% if(index == property.showItemsCount){ %>
                        &nbsp<span class="glyphicon glyphicon-chevron-down text-primary mn fs14 fw500" data-title=<%- property.propertyToggleId %> ></span><div id=<%- property.propertyToggleId %> style="display:none">
                    <% }%>
                <% }%>

                <div class="mr10 meta-dialog" data-toggle="tooltip" data-placement="bottom" title=<%- item.tooltip %> data-key=<%- property.key %> data-value=<%- item.value %> data-source=<%- item.sourcearray %> style="display:inline-block">
                    <% if (item.value) { %>
                        <% if(property.jumpType){ %>
                            <span class="fs14 data-search"><a href="<%- item.linkUrl %>" ><%- item.value %></a></span>&nbsp
                        <% }else { %>
                            <span class="fs14 data-search"><%- item.value %></span>&nbsp
                        <% }%>
                    <% }%>
                    <% if (item.confidence != 0) { %>
                        <span class="text-primary mn fs14 fw500"><%- item.confidence + "%" %></span>
                    <% } %>
                </div>

                <% if(index >= property.showItemsCount &&index == property.valueList.length-1){%>
                    </div>
                <% }%>
            <% }) %>
        </td>
    </tr>
<% }) %>

