a, a:visited {
  color:#333;
}

#vis {
  overflow: hidden;
  position: relative;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-hover {
  stroke: #362A32;
  stroke-width: 2px;
}

.bubble-selected {
  stroke: #362A32;
  stroke-width: 2px;
}

a.bubble-label {
  font-family: georgia, "times new roman", times, serif;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}