<div id="modal-panel" class="popup-basic popup-<%- style %> bg-none mfp-with-anim"
<% if (width > 0) { %>style="max-width: <%- width %>px"<% } %> >
    <div class="panel">
        <div class="panel-heading" id="nv-dialog-header">
            <span id="nv-dialog-title" class="panel-title"> <%= title %> </span>
        </div>
        <div id="nv-dialog-body" class="panel-body " style="height:auto; max-height:500px; overflow-x: auto; overflow-y: auto; min-height: 280px">
            <%= content %>
        </div>
        <div class="panel-footer text-right" id="nv-dialog-footer">
            <button id="nv-dialog-leftbtn" class="btn btn-default" type="button" style="margin-right:15px;min-width:60px">
                <%= leftBtn %>
            </button>
            <button id="nv-dialog-rightbtn" class="btn btn-primary" type="button" style="min-width:60px">
                <%= rightBtn %>
            </button>
        </div>
    </div>
</div>
