.track-group-title
{
    height: 20px;
    border-style: solid;
    border-color: #000000;
    background-color: lightsteelblue;
    border-width: 1px;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
hr{
    margin-top: 8px;
    margin-bottom: 8px;
    border:0;
}
.track-group-body
{
    height: 430px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.target-aim-style{
    padding:5px 15px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.target-aim-style:hover{
    /*text-decoration: underline;*/
    color: blue;
    font-weight: bold;
}
.aim-distribute-style{
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.color-box{
    border: 0px;
    margin: 0px !important;
    padding: 0px !important;
    background-color: transparent;
    width: 28px;
    height: 20px;
    cursor: pointer;
}
.target-aimList-style{
    overflow:scroll;
    overflow-x: hidden;
    overflow-y: auto;
    height: 290px;
}
.buttonInToolbar-style{
    border:1px solid #000000;
    background-color: #ffffff;
    border-radius: 5px;
      font-size: 24px;
    height: 24px;
    width: 24px;
    color:#3498db;
}
.buttonInToolbar-style:hover{
    background-color: #F0F0F0 !important;
    cursor: pointer;
}
.aim-distribute-toolTip{
    font-family:'Open Sans';
    font-size: 12px;
}
.aim-distribute-toolTip table{
    width: 100%;
    border-collapse: collapse;
}
.aim-distribute-toolTip tr{
    height: 22px;
    background-color: #F8F8F8
}
.aim-distribute-toolTip td,.aim-distribute-toolTip th{
    border:1px lightgray solid;
    padding-left: 5px;
}
.aim-distribute-toolTip td
{
    min-width: 100px;
}
.aim-distribute-toolTip th{
    min-width: 60px;
    text-align: left;
}
.activeTab{
    float: left;
    width: 50px;
    height:16px;
    text-align: center;
    padding-top: 3px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 3px solid #C00000;
    /*border-bottom: 1px solid #000000;*/
}
.tabTitle{
    color:#000000;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.unActiveTab{
    float: left;
    width: 50px;
    height:16px;
    text-align: center;
    margin-top: 5px;
    /*border-top: 1px solid #000000;*/
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
.unActiveTab:hover{
    color: blue;
    font-weight: bold;
}
.hr-sepratorTab{
    margin-top: 1px;
    border: 0;
    background-color: #000000;
    height: 1px;
    -webkit-margin-after: -1em;
}
.phoneBillList{
    width: 290px;
    min-height: 300px;
    height: 370px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px !important;
    background-color: transparent;;
    font-size: 13px;
    color: #000000;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    -webkit-user-select: none;
    padding-top: 10px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.one-target-phoneBill
{
    height: 90px;
    margin: 0px 2px;
}
.talkBubble{
    margin-left: 16px;
    width: 220px;
    height: 80px;
    background: lightskyblue;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 6px;
}
.talkBubble:before{
    content: "";
    position: absolute;
    right: 100%;
    top:8px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid lightskyblue;
    border-bottom: 7px solid transparent;
}
.talkBubble-select{
    margin-left: 16px;
    width: 220px;
    height: 80px;
    background: orange;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 6px;
}
.talkBubble-select:before{
    content: "";
    position: absolute;
    right: 100%;
    top:8px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 10px solid orange;
    border-bottom: 7px solid transparent;
}
.one-phoneBill-left{
    float: left;width: 18px;margin-left: 5px;height: 90px;
}
.one-phoneBill-left-hr{
    width: 4px;height: 70px;background-color: dodgerblue;margin-left: 8px;margin-top: 0px;margin-bottom: 0px;
}
.one-phoneBill-right{
    float: left;height: 90px;
}
.one-phoneBill-right-content{
    position: relative;top:-75px;margin-left: 21px;font-weight: 800;font-size: 14px;
}
.trackPlay{
    /*position: relative;*/
    border: 2px solid black;
    display: block;
    height: 130px;
    margin-top: 8px;
    border-radius: 5%;
    background-color: rgb(238, 247, 172);
    -webkit-user-select: none;
    width: 290px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.track-player-status-style{
    font-weight: bold;
    font-size: 12px;
}
.track-player-progressTip-style
{
    font-size: 10px;
    color: #808080;
    text-align: center;
}
.rang-progressBar-full-style{
    position: absolute;
    background-color: orange;
    height: 5px;
    width: 250px;
    left: 8px;
}
.pre-rang-progressBar-full-style{
    background-color: lightgrey;
    height: 5px;
    width: 8px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.after-rang-progressBar-full-style{
    background-color: lightgrey;
    height: 5px;
    width: 8px;
    top: 0px;
    left: 258px;
    position: absolute;
}
.rang-progressBar-left-style{
    background-color: lightgrey;
    height: 5px;
    width: 0px;
    top: 0px;
    left: 8px;
    position: absolute;
}
.rang-progressBar-right-style{
    background-color: lightgrey;
    height: 5px;
    width: 0px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.rang-progressBar-excute-style{
    background-color: green;
    height: 5px;
    width: 0px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.rang-slider-begin-style{
    position: absolute;
    cursor: pointer;
    width: 9px;
    height: 9px;
    top: -2px;
    left: 0px;
    background: #0606F3;
    -moz-border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    border-radius: 4.5px;
}
.rang-slider-end-style{
    position: absolute;
    cursor: pointer;
    width: 9px;
    height: 9px;
    top: -2px;
    left: 258px;
    background: #0606F3;
    -moz-border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    border-radius: 4.5px;
}
.rang-slider-excute-style{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -2px;
    left: 0px;
    display: none;
    border-top: 4px solid transparent;
    border-left: 8px solid rgb(70, 46, 250);
    border-bottom: 4px solid transparent;
}
.rang-time-tip{
    vertical-align: top; text-align: left;font-size: 12px;
}
.rang-selectedTime-tip{
    text-align: center;font-size: 12px;color: #808080;display: none;
}
.img-start {
    background-image: url("./image/markers_new.png");
    background-repeat: no-repeat;
    background-position: -199px -139px;
    height: 40px;
    width: 26px;
}
.img-end {
    background-image: url("./image/markers_new.png");
    background-repeat: no-repeat;
    background-position: -225px -139px;
    height: 40px;
    width: 26px;
}

