<table class="table table-hover admin-form">
    <thead>
        <tr id="headRow">
            <th data-i18n="rolemanage.tpl-column"></th>
            <th data-i18n="rolemanage.tpl-least"></th>
            <th data-i18n="rolemanage.tpl-description"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% _.each(data, function(item) { %>
            <tr>
                <td>
                    <%- item.name %>
                </td>
                <td>
                    <%- item.requireAuthLevel %>
                </td>
                <td>
                    <%- item.description %>
                </td>
                <td class="text-right">
                    <label class="option block mn">
                        <i class="fa fa-lg fa-check text-success"></i>
                    </label>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
