<table id="imei-table" class="table table-bordered mb20">
    <tbody>
        <tr>
            <td class="text-center">机身号</td>
            <td><%- imei %></td>
        </tr>
        <% _.each(mobile, function(item) { %>
            <tr>
                <td class="col-md-2 col-sm-2 mn fs14 fw400 text-center" style="background-color: #f5f5f5">
                    手机号
                </td>
                <td class="col-md-10 col-sm-10">
                    <% if (item.valueType) { %>
                        <a class="rlf-auto-link" href="javascript:void(0);" target-link="<%- item.targetLink %>"><%- item.phone %> <%- item.freq %>%</a>
                    <% } else { %>
                        <%- item.phone %><%- item.freq %>%
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
